<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Yummy Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">


  <!-- multiselect stuff -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/style.css">

  <script src="../static/js/multi-jquery.min.js"></script>
  <script src="../static/js/multi-popper.js"></script>
  <script src="../static/js/multi-bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
  <script src="../static/js/multi-main.js"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link type="text/css" rel="stylesheet" href='../static/vendor/bootstrap/css/bootstrap.min.css'>
  <link type="text/css" rel="stylesheet" href='../static/vendor/bootstrap-icons/bootstrap-icons.css'>
  <link type="text/css" rel="stylesheet" href='../static/vendor/aos/aos.css'>
  <link type="text/css" rel="stylesheet" href='../static/vendor/glightbox/css/glightbox.min.css'>
  <link type="text/css" rel="stylesheet" href='../static/vendor/swiper/swiper-bundle.min.css'>

  <!-- Template Main CSS File -->
  <link type="text/css" rel="stylesheet" href='../static/css/main.css'>

  <!-- =======================================================
  * Template Name: Yummy - v1.2.1
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href ='#hero' class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Data<span>Doctors</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#symp_list">Symptoms List</a></li>
          <li><a href="#book-a-table">Predictor</a></li>
          <li><a href="#chefs">The Team</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
        </ul>
      </nav><!-- .navbar -->

      <a class="btn-book-a-table" href="#book-a-table">Disease Predictor</a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Find out what disease<br>your symptoms may be associated with</h2>
          <p data-aos="fade-up" data-aos-delay="100">Click the disease predictor button below to get started.</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#book-a-table" class="btn-book-a-table">Disease Predictor</a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src= {{ url_for('static', filename='img/doctorpic.png') }} class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Our Project</h2>
          <p>Learn More <span>About Our Disease Predictor</span></p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-7 position-relative" style="" data-aos="fade-up" data-aos-delay="150">
            <div class="call-us position-absolute">
              <h4>If You Are Experiencing a Medical Emergency</h4>
              <p>Contact Emergency Services Immediately</p>
            </div>
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                This is a disease predictor application built on a machine learning model using a random forest classifier. It is intended to predict a disease your symptoms may be associated with.
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> This application is not meant to formally diagnose patients. Please consult your physician if you have health concerns.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container" data-aos="fade-up">
        
        <div class="section-header">
          <h2>Health Benefits</h2>
          <p>Here are some<span> Additional Resources:</span></p>
        </div>

        <div class="row gy-4">

            <div class="row gy-4">

              <div class="col-lg-4 col-md-6 d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-clipboard-data"></i>
                  <h4><a href="https://www.webmd.com/a-to-z-guides/common-topics">Health A-Z</a></h4>
                  <p>Learn more about your symptoms</p>
                </div>
              </div><!-- End Icon Box -->

            

              <div class="col-lg-4 col-md-6 d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-inboxes"></i>
                  <h4><a href="https://doctor.webmd.com/">Find a Doctor</a></h4>
                  <p>Browse by specialty, condition, or procedure to find a doctor near you</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-4 col-md-6 d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-gem"></i>
                  <h4><a href="https://www.biomedcentral.com/journals">Research in Progress</h4>
                  <p>A pioneer of open access publishing, BMC has an evolving portfolio of high quality peer-reviewed journals</p>
                </div>
              </div><!-- End Icon Box -->              

            </div>
          

        </div>

      </div>
    </section><!-- End Why Us Section -->

   

    <!-- ======= SYMPTOMS Section ======= -->
    <section id="symp_list" class="menu">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Symptom List</h2>
          <p>Browse <span>Potential </span>Symptoms</p>
        </div>

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#symp_list-starters">
              <h4>Skin/Nails/Eyes</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#symp_list-breakfast">
              <h4>Gastrointestinal</h4>
            </a><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#symp_list-lunch">
              <h4>Cardio/Pulmonary</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#symp_list-dinner">
              <h4>Medical History/Events</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#symp_list-physio">
              <h4>Psychological/Neurological</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#symp_list-limb">
              <h4>Joint/Muscle/Limb</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#symp_list-urine">
              <h4>Urological</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#symp_list-xtra">
              <h4>Miscellaneous</h4>
            </a>
          </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

          <div class="tab-pane fade active show" id="symp_list-starters">

            <div class="tab-header text-center">
              <h3>Skin/Nails/Eyes</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <h4>Blackheads</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Brittle Nails</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Blister</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Blurred and Distorted Vision</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Bruising</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Dischromic Patches</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Drying and Tingling Lips</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Inflammatory Nails</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Internal Itching</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Itching</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Nodal Skin Eruptions</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Prominent Veins on Calf</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Puffy Face and Eyes</h4>
              </div><!-- Menu Item -->
              
              <div class="col-lg-4 menu-item">
                <h4>Pus Filled Pimples</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Red Sore Around Nose</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Red Spots Over Body</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Redness of Eyes</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Silver Like Dusting</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Skin Peeling</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Skin Rash</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Small Dents in Nails</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Sunken Eyes</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Sweating</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Typhos (Toxic Look)</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Ulcers on Tongue</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Watering from Eyes</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Yellow Crust Ooze</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Yellowing of Eyes</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Yellowish Skin</h4>
              </div><!-- Menu Item -->


            </div>
          </div><!-- End Starter Menu Content -->

          <div class="tab-pane fade" id="symp_list-breakfast">

            <div class="tab-header text-center">
              <h3>Gastrointestinal</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <h4>Abdominal Pain</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Acidity</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Belly Pain</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Blood in Sputum</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Bloody Stool</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Constipation</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Cramps</h4>
              </div><!-- Menu Item -->
              
              <div class="col-lg-4 menu-item">
                <h4>Diarrhoea</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Distention of Abdomen</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Excessive Hunger</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Fluid Overload</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Increased Appetite</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Indigestion</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Irregular Sugar Level</h4>
              </div><!-- Menu Item -->


              <div class="col-lg-4 menu-item">
                <h4>Irritation in Anus</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Loss of Appetite</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Nausea</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Obesity</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Pain During Bowel Movements</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Pain in Anal Region</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Passage of Gasses</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Stomach Bleeding</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Stomach Pain</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Swelling of Stomach</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Vomiting</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Weight Gain</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Weight Loss</h4>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Breakfast Menu Content -->

          <div class="tab-pane fade" id="symp_list-lunch">

            <div class="tab-header text-center">
              <h3>Cardio/Pulmonary</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <h4>Chest Pain</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Chills</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Cold Hands and Feet</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Cough</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Fast Heart Rate</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Palpitations</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Shivering</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Swelled Lymph Nodes</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Swelling Joints</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Swelling of Stomach</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Swollen Blood Vessels</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Swollen Extremeties</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Swollen Legs</h4>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Lunch Menu Content -->

          <div class="tab-pane fade" id="symp_list-dinner">

            <div class="tab-header text-center">
              <h3>Medical History/Events</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <h4>Extra Marital Contacts</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Family History</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>History of Alcohol Consumption</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Receiving Blood Transfusion</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <h4>Receiving Unsterile Injections</h4>
              </div><!-- Menu Item -->


            </div>
          </div><!-- End Dinner Menu Content -->

            <div class="tab-pane fade" id="symp_list-physio">

              <div class="tab-header text-center">
                <h3>Psychological/Neurological</h3>
              </div>

              <div class="row gy-5">

                <div class="col-lg-4 menu-item">
                  <h4>Altered Sensorium</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Anxiety</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Coma</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Depression</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Dizziness</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Fatigue</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Headache</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Irritability</h4>
                </div><!-- Menu Item -->
                
                <div class="col-lg-4 menu-item">
                  <h4>Lack of Concentration</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Lethargy</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Loss of Balance</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Loss of Smell</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Malaise</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Mood Swings</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Restlessness</h4>
                </div><!-- Menu Item -->


                <div class="col-lg-4 menu-item">
                  <h4>Slurred Speech</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Unsteadiness</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Visual Disturbances</h4>
                </div><!-- Menu Item -->

              </div>
            </div><!-- End Breakfast Menu Content -->
            <div class="tab-pane fade" id="symp_list-limb">

              <div class="tab-header text-center">
                <h3>Joint/Muscle/Limb</h3>
              </div>

              <div class="row gy-5">

                <div class="col-lg-4 menu-item">
                  <h4>Back Pain</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Hip Joint Pain</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Joint Pain</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Knee Pain</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Movement Stiffness</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Muscle Pain</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Muscle Wasting</h4>
                </div><!-- Menu Item -->
                
                <div class="col-lg-4 menu-item">
                  <h4>Muscle Weakness</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Neck Pain</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Painful Walking</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Spinning Movements</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Stiff Neck</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Weakness in Limbs</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Weakness of One Body Side</h4>
                </div><!-- Menu Item -->

              </div>
            </div><!-- End Breakfast Menu Content -->
            <div class="tab-pane fade" id="symp_list-urine">

              <div class="tab-header text-center">
                <h3>Urological</h3>
              </div>
  
              <div class="row gy-5">
  
                <div class="col-lg-4 menu-item">
                  <h4>Bladder Discomfort</h4>
                </div><!-- Menu Item -->
  
                <div class="col-lg-4 menu-item">
                  <h4>Burning Micturition</h4>
                </div><!-- Menu Item -->
  
                <div class="col-lg-4 menu-item">
                  <h4>Continuous Feel of Urine</h4>
                </div><!-- Menu Item -->
  
                <div class="col-lg-4 menu-item">
                  <h4>Dark Urine</h4>
                </div><!-- Menu Item -->
  
                <div class="col-lg-4 menu-item">
                  <h4>Foul Smell of Urine</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Polyuria</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Spotting Urination</h4>
                </div><!-- Menu Item -->

                <div class="col-lg-4 menu-item">
                  <h4>Yellow Urine</h4>
                </div><!-- Menu Item -->
  
              </div>
            </div><!-- End Dinner Menu Content -->
            <div class="tab-pane fade" id="symp_list-xtra">

                <div class="tab-header text-center">
                  <h3>Miscellaneous</h3>
                </div>

                <div class="row gy-5">

                  <div class="col-lg-4 menu-item">
                    <h4>Abnormal Menstruation</h4>
                  </div><!-- Menu Item -->

                  <div class="col-lg-4 menu-item">
                    <h4>Acute Liver Failure</h4>
                  </div><!-- Menu Item -->

                  <div class="col-lg-4 menu-item">
                    <h4>Blood in Sputum</h4>
                  </div><!-- Menu Item -->

                  <div class="col-lg-4 menu-item">
                    <h4>Congestion</h4>
                  </div><!-- Menu Item -->

                  <div class="col-lg-4 menu-item">
                    <h4>Cough</h4>
                  </div><!-- Menu Item -->

                  <div class="col-lg-4 menu-item">
                    <h4>Dehydration</h4>
                  </div><!-- Menu Item -->

                  <div class="col-lg-4 menu-item">
                    <h4>Enlarged Thyroid</h4>
                  </div><!-- Menu Item -->

                  <div class="col-lg-4 menu-item">
                    <h4>High Fever</h4>
                  </div><!-- Menu Item -->

                  <div class="col-lg-4 menu-item">
                    <h4>Mild Fever</h4>
                  </div><!-- Menu Item -->

                  <div class="col-lg-4 menu-item">
                    <h4>Mucoid Sputum</h4>
                  </div><!-- Menu Item -->

                  <div class="col-lg-4 menu-item">
                    <h4>Patches in Throat</h4>
                  </div><!-- Menu Item -->

                  <div class="col-lg-4 menu-item">
                    <h4>Phlegm</h4>
                  </div><!-- Menu Item -->

                  <div class="col-lg-4 menu-item">
                    <h4>Runny Nose</h4>
                  </div><!-- Menu Item -->

                  <div class="col-lg-4 menu-item">
                    <h4>Rusty Sputum</h4>
                  </div><!-- Menu Item -->

                  <div class="col-lg-4 menu-item">
                    <h4>Scurring</h4>
                  </div><!-- Menu Item -->

                  <div class="col-lg-4 menu-item">
                    <h4>Sinus Pressure</h4>
                  </div><!-- Menu Item -->

                  <div class="col-lg-4 menu-item">
                    <h4>Throat Irritation</h4>
                  </div><!-- Menu Item -->


                </div>
              </div><!-- End Symptoms List Content -->

        </div>

      </div>
    </section><!-- End SYMPTOMS Section -->

    <hr>

        <!-- ======= Symptom Predictor Section ======= -->
        <section id="book-a-table" class="book-a-table">
          <div class="container">
    
            <div class="section-header">
              <h2>Disease Predictor</h2>
              <p>Please Enter <span>Your Symptoms</span></p>
            </div>
    
                <section class="ftco-section">
                  <div class="container">
                    <div class="row justify-content-center">
                      <div class="col-md-7 text-center mb-5">
                        <h2 class="heading-section">Select Your Symptoms</h2>
                        <h3 font-size=10px>Use Ctrl+Click(Windows) or CMD+Click(Mac) to Select Multiple Symptoms</h3> 
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-lg-4 d-flex justify-content-center align-items-center">
    
                        <form action="/prediction_model" method = "post">
                          
                          <select name="symptoms" class="js-select2" id="symptoms" multiple="multiple" size = 7>
    
                          {%for i in range(0, len)%}
              
                            <option data-badge="">{{symptoms_list[i]}}</option>
    
                          {%endfor%}
    
                          </select>
                          <input type="submit" value = 'Predict Disease'>
                        </form>
    
                      </div>
                    </div>
                  </div>
                </section>
    
            
          </div>
        </section><!-- End Symptom Predictor Section -->



    <!-- ======= Data Doctors Section ======= -->
    <section id="chefs" class="chefs section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About</h2>
          <p>The <span>Data</span> Doctors</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="chef-member">
              <div class="member-img">
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHHnSPakALseg/profile-displayphoto-shrink_800_800/0/1537590892811?e=1671667200&v=beta&t=gkYVs2dcBGZ1t68fispLlbE1sOTjRJ4gDwEhYxFNGzI" class="img-fluid" alt="" width="200" height="200">
                <div class="social">

                  <a href="https://github.com/SydCo99"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/sydney-cohen-159566171/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sydney Cohen</h4>
                <span></span>
                <p><a href="https://github.com/SydCo99"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/sydney-cohen-159566171/"><i class="bi bi-linkedin"></i></a></p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

          <div class="col-lg-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="chef-member">
              <div class="member-img">
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQE72sf0pxWI6Q/profile-displayphoto-shrink_800_800/0/1617401029138?e=1671667200&v=beta&t=ffyZeB2vPdbCrC7eH4TJLPcSFcfNMhH9mTobt7vA4fk" class="img-fluid" alt="" width="200" height="200">
                <div class="social">

                  <a href="https://github.com/maiterivas"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/maiterivas/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Maite Rivas</h4>
                <p><a href="https://github.com/maiterivas"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/maiterivas/"><i class="bi bi-linkedin"></i></a></p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

          <div class="col-lg-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="chef-member">
              <div class="member-img">
                <img src="https://media-exp1.licdn.com/dms/image/C5103AQFeby5805OiXQ/profile-displayphoto-shrink_800_800/0/1516884373094?e=1671667200&v=beta&t=7ZCEUHOFH9qxELKbaOiUJuV5oW9B8HtprwPT-Un42hg" class="img-fluid" alt="" width="200" height="200">
                <div class="social">

                  <a href="https://github.com/jimstrale"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/jim-strale-935aba55/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Jim Strale</h4>
                <p><a href="https://github.com/jimstrale"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/jim-strale-935aba55/"><i class="bi bi-linkedin"></i></a></p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

          <div class="col-lg-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="chef-member">
              <div class="member-img">
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHBcrPqWBgMug/profile-displayphoto-shrink_800_800/0/1625035890385?e=1671667200&v=beta&t=EJQENNkSs6veb7EJWdlOj9gZ2gqWhnQmVuohssgK6Bc" class="img-fluid" alt="" width="200" height="200">
                <div class="social">

                  <a href=""><i class="bi bi-github"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Danielle Sears</h4>
                <p><a href="https://github.com/ohigithub"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/DanielleJS/"><i class="bi bi-linkedin"></i></a></p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

        </div>

      </div>
    </section><!-- End Chefs Section -->


     <!-- ======= Stats Counter Section ======= -->
     <section id="stats-counter" class="stats-counter">
      <div class="container" data-aos="zoom-out">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
              <p>Students</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="240" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Class</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
              <p>DataDoctors</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
    </section><!-- End Stats Counter Section -->
  

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>What They Think <span>Of Our Disease Predictor</span></p>
        </div>

        <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        I've never known a better team of data doctors.
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Saul Goodman</h3>
                      <h4>Ceo &amp; Founder</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src= {{ url_for('static', filename="assets/img/testimonials/testimonials-1.jpg") }} class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        Best app on the web! YOLO!
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Sara Wilsson</h3>
                      <h4>Medicaid Recipient</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src={{ url_for('static', filename="assets/img/testimonials/testimonials-2.jpg") }} class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        Now that I know I have a disease, I can change my life trajectory to get what I want most out of life!
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Jena Karlis</h3>
                      <h4>Store Owner</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src= {{ url_for('static', filename="assets/img/testimonials/testimonials-3.jpg") }} class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        I never imagined business endevors could help people so immensily until I saw the positive outcomes from users on this app. The Data Doctors have inspired how I do business moving forward.
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>John Larson</h3>
                      <h4>Entrepreneur</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="assets/img/testimonials/testimonials-4.jpg" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        


      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>DataDoctors</span></strong>. <br>*We are not medically licensed professionals.
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->
        Designed by <a href="https://github.com/maiterivas/Data-Doctors-Project-4.git">the DataDoctors</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <script src="../static/js/aos.js"></script>
  <script src="../static/js/glightbox.min.js"></script>
  <script src="../static/js/purecounter_vanilla.js"></script>
  <script src="../static/js/swiper-bundle.min.js"></script>
  <script src="../static/js/validate.js"></script>

  <!-- Template Main JS File -->
  <script src='../static/js/main.js'></script>

</body>

</html>